/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

.wrapper {
    width: 705px;
    margin: 0 auto;
}

header h1 {
    font-size: 40px;
    text-transform: lowercase;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    padding: 25px;
}

img.photo {
    width: 35%;
    border-radius: 50%;
    margin-left: 235px;
    margin-top: 40px;
    margin-bottom: 50px;
}

main .text {
    width: 463px;
    margin-left: 142px;
}

main p, li {
    padding: 10px;
    font-size: 20px;
}

main p {
    text-align: center;
}

main .links {
  margin: 25px 0 25px 100px;
}

main .links p {
    text-align: left;
}

main a {
    text-decoration: none;
    box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.15);
}

main p a:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

main p.location {
    margin-bottom: 25px;
}


main ul {
    padding-left: 50px;
}

main li {
    list-style: initial;
    padding: 17px 0 0;
}

.social-links a {
    box-shadow: none;
}

.social-links {
    margin-top: 28px;
    margin-left: 305px;
}

.social-links img {
    width: 10%;
    margin-left: 7px;
}

footer {
    margin: 28px 0 15px 250px;
    font-size: 20px;
}


/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
    header h1 {
        font-size: 70px;
    }

    .wrapper {
        width: 100%;
    }

    img.photo {
        margin-left: 300px;
    }

    main .text {
        width: 850px;
        margin-left: 90px;
    }

    main p, li {
        padding: 10px;
        font-size: 55px;
    }

    main .title p {
        padding-right: 80px;
    }

    .social-links {
        margin-top: 65px;
        margin-left: 370px;
    }

    .social-links img {
        width: 15%;
        margin-left: 15px;
    }

    footer {
        margin: 65px 0 15px 320px;
        font-size: 35px;
    }
}
